<extend name="Index:index" />

<block name="title">
    <title>订单详情</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/orderdetails01.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/orderdetails02.css">
    <script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <style>
        .site-header .site-logo .event-yeelight-2015{position:absolute;left:75px;top:-25px;z-index:2;width:165px;margin:0;height:108px;}
        ul{margin:0px;padding:0px;}
        li{list-style:none;}
        .current{border:0px;}
        .hide{display:none;}
        .xm-edit-addr-box{
            /*display:none;*/
            position:relative;
            background:#fff;
            border:1px solid #ff4a00;
            left: 323px;
            top: 306px;
            width: 300px;
            z-index: 10;
            /*z-index:1050*/
        }
        .icon-safe-level {
            height: 11px;
            position: relative;
            top: 1px;
            width: 61px;
        }
        .rt{display:none;}
        .uc-address-edit-section{
            left: 343px;
            position: absolute;
            top: 306px;
            width: 300px;
            z-index: 10;
        }
        .icon-stat {
            background-image: url("__PUBLIC__/Home/image/icon-stat.png");
            background-repeat: no-repeat;
            display: inline-block;
            height: 14px;
            overflow: hidden;
            /*width: 65px;*/
        }
        /*已经评论*/
        .noha{display:none;}
        .uc-home-box .box-bd {
            margin: 0 0px;
        }
    </style>
</block>

<block name="content">

<!-- 用户详情页主体内容start -->
<div class="container breadcrumbs">
    <a href="{:U('Home/Index/index')}">首页</a><span class="sep">/</span><span>订单详情</span></div>
<!-- .breadcrumbs END -->

<div class="container">
    <div class="uc-full-box">
        <div class="row">
            <!-- .span4 START -->
            <div class="span4" style="margin-top:18px">
               <div class="order-delivery-address" style="width:225px;padding:2px 10px 20px; background: none repeat scroll 0 0 #fafafa;font-size:13px;font-family:microsoft yahei;color: #333;">
                    <div id="changeAddress" class="order-text-section">
                        <h4 style="color: #8c8c8c;">收货信息 </h4>
                        <table class="order-text-table">
                            <tbody>
                                <tr>
                                    <th>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
                                    <td>{$addressInfo['consignee']}</td>
                                </tr>
                                <tr>
                                    <th>收货地址：</th>
                                    <td>{$provinces} {$addressInfo['site']}</td>
                                </tr>
                                <tr>
                                    <th>联系电话：</th>
                                    <td>{$addressInfo['telephone']}</td>
                                </tr>
                                <tr>
                                    <th>支付方式：</th>
                                    <td>在线支付</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr style="margin-top:12px;color:#83bd39;">
                    <div class="order-text-section">
                        <h4 style="color: #8c8c8c;">发票信息</h4>
                        <table class="order-text-table">
                            <tbody><tr><th>发票类型：</th><td>普通发票</td></tr>
                                <tr><th>发票抬头：</th><td>个人</td></tr>
                                <tr><th>发票内容：</th><td>购买商品明细</td></tr>
                             </tbody>
                        </table>
                    </div>
                    <hr style="margin-top:12px;color:#83bd39;">
                    <div class="order-text-section">
                        <h4 style="color: #8c8c8c;">送货时间 </h4>
                        <div id="changeBesttime" class="order-text-section">
                            <div id="timeSection" class="order-delivery-time">不限送货时间</div>
                        </div>
                    </div>
                    <div class="order-text-section"></div>
                </div>
            </div>
            <!-- .span4 END -->
            <!-- .span16 START -->
            <div class="span16">
                <div class="xm-line-box uc-box uc-order-detail-box">
                    <div class="box-hd">
                        <h3 class="title">订单号：{$orderdeInfo['onumber']}</h3>
                    </div>
                    <div class="box-bd">
                        <div class="order-tip">
                            <p>小米公司不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话。<a href="#">了解更多»</a></p>
                        </div>
                        <div class="order-detail-tables">
                            <table class="order-detail-table">
                                <thead>
                                    <tr>
                                        <th class="column-info" colspan="4">
                                            <div class="column-content">
                                                发货单号：114082146006573601                                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-detail">
                                            <ul class="order-goods-list">
	                                            <foreach name="gInfo" item="vo">
	                                                <li class="">
	                                                    <a href="{:U('Home/Detail/index')}?gid={$vo['gid']}"><img class="goods-thumb" src="__PUBLIC__/Upload/Goods/{$vo['s_img']}" alt=""></a>
	                                                    <a target="_blank" href="" class="goods-name">{$vo['title']}</a>
	                                                    <span class="goods-price">{$vo['nowprice']}元</span>
	                                                    <span class="goods-link"></span>
	                                                    <span class="goods-amount">x {$vo['number']}</span>
	                                                </li>  
                                                </foreach>
                                            </ul>
                                        </td>
                                        <td class="column-price">
                                            <!--<div class="order-info order-price">1171.6元</div>-->
                                            <div class="order-info order-price">
                                            	<switch name="orderdeInfo['status']">    
	                                                <case value="0">等待支付</case>    
	                                                <case value="1">已支付</case> 
	                                                <case value="2">已发货</case>    
	                                                <case value="3">已收货</case>    
	                                                <default />未支付
                                            	</switch>
                                            </div>
                                        </td>
                                        <td class="column-date">
                                            <div class="order-info order-date">{:date("Y-m-d",$orderdeInfo['otime'])}<br>{:date("H:i:s",$orderdeInfo['otime'])}</div>
                                        </td>
                                        <td class="column-action">
                                            <div class="order-info order-action">
                                                <a href="#">申请售后<i class="iconfont"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="column-delivery" colspan="4">
                                            <div class="order-delivery-status">
                                                <div class="order-delivery-container">
                                                    <div class="delivery-status-info">
                                                        <span>物流信息：</span>
                                                            <a href="#" target="_blank">EMS(北京)</a> 1118304029403                                    
                                                    </div>
                                                    <div class="more">
                                                        <a class="J_checkDelivery" href="#">查看物流信息<i class="iconfont"></i></a>
                                                    </div>
                                                    <div class="delivery-status hide">
                                                        <div class="delivery-status-info">
                                                            <span>
                                                                <a href="#" target="_blank">EMS(北京)</a>                                            
                                                            </span>
                                                            运单号：1118304029403                                        
                                                        </div>
                                                        <div class="delivery-status-detail">
                                                            <p>正在加载……</p>
                                                        </div>
                                                        <span class="arrow"></span>
                                                    </div>
                                                </div>
                                                <ol class="order-delivery-steps clearfix">
                                                    <li class="step step-first step-done">
                                                        <div class="progress">
                                                            <span class="text">下单</span>
                                                        </div>
                                                        <div class="info">
                                                            2014年08月21日<br>15时39分                                        
                                                        </div>
                                                    </li>
                                                    <li class="step step-done">
                                                        <div class="progress">
                                                            <span class="text">付款</span>
                                                        </div>
                                                        <div class="info">
                                                            2014年08月21日<br>15时42分                                        
                                                        </div>
                                                    </li>
                                                    <li class="step step-done">
                                                        <div class="progress">
                                                            <span class="text">配货</span>
                                                        </div>
                                                        <div class="info">
                                                            2014年08月21日<br>15时45分                                        
                                                        </div>
                                                    </li>
                                                    <li class="step step-done">
                                                        <div class="progress">
                                                            <span class="text">出库</span>
                                                        </div>
                                                        <div class="info">
                                                            2014年08月23日<br>13时38分                                        
                                                        </div>
                                                    </li>
                                                    <li class="step step-now step-last">
                                                        <div class="progress">
                                                            <span class="text">交易成功</span>
                                                        </div>
                                                        <div class="info">
                                                            2014年08月28日<br>11时07分                                        
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="order-detail-total clearfix">
                                <dl class="total-list">
                                    <dt>商品总价：</dt>
                                    <dd>
                                    <elt name="orderdeInfo['money']" value="100">
									{$orderdeInfo['money']- 10}
                                    <else/>
                                    {$orderdeInfo['money']}
                                    </elt>.00元
                                    </dd>
                                    <dt>优惠金额：</dt>
                                    <dd>0元</dd>
                                    <dt>运费：</dt>
                                    <dd><elt name="orderdeInfo['money']" value="100">10<else/>0</elt>元</dd>
                                    <dt>实付金额：</dt>
                                    <dd>
                                        <div class="price price-special">
                                            <b>{$orderdeInfo['money']}.00</b>元
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .span16 END -->

        </div>
    </div>
</div>

<!-- 用户详情页主体内容end -->

</block>