<extend name="Goodsclass/add" />

<block name="title">
    <style>
        #color ul li{float:left}
    </style>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugins/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
	<title>提问审核</title>
</block>
<block name="con"> 
	<div class="mws-panel grid_8">
    	<div class="mws-panel-header">
        	<span>提问审核</span>
        </div>
        <div class="mws-panel-body no-padding">
        	<form class="mws-form" action="{:U('Admin/Ask/save')}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="askid" value="{$info['askid']}">
        		<div class="mws-form-inline">
        			<div class="mws-form-row">
        				<label class="mws-form-label">提问用户</label>
        				<div class="mws-form-item">
                            <input type="text" readonly style="width:245px" class="small" name="mssid" value="{$info['mssid']}">
                        </div>
        			</div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">提问商品</label>
                        <div class="mws-form-item">
                            <div id="color" style="width:250px;float:left">
                                <div style="float:left;margin-right:25px;margin-bottom:15px;border:1px solid #C5C5C5;border-radius:10%;">
                                    <div style="width:250px;text-align:center">
                                        <span>{$info['title']}</span>
                                    </div><br>
                                    <div class="zhuimg" style="width:250px;overflow:hidden;border:1px solid #C5C5C5;border-radius:10%;">
                                        <img style="color:#AAA7A7;" src="__PUBLIC__/Upload/Goods/{$info['zhupic']}">
                                    </div><br>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">提问时间</label>
                        <div class="mws-form-item">
                            <input type="text" readonly style="width:245px" class="small" name="atime" value="{:date('Y-m-d H:i:s',$info['atime'])}">
                        </div>
                    </div>
                    <div class="mws-form-row">  
                        <label class="mws-form-label">提问内容</label>  
                        <div class="mws-form-item"> 
                            <div style="width:500px;">
                                <div style="width:500px;border:1px solid #C5C5C5;border-radius:10%;margin-right:15px;margin-top:15px;clear:both"><textarea name="a_content" readonly  style="width:500px;height:100px;opacity:0.5;overflow:hidden;border:3px solid #BBBBBB;border-radius:10%;color:#A29B9B;font-size:20px;font-family:microsoft yahei">{$info['a_content']}</textarea></div>
                            </div>
                        </div>  
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">回复内容</label>
                <if condition="$info['isok'] eq 0">
                        <input id="replay" type="button" value="回复" class="btn btn-danger" style="margin-left:18px;width:116px">
                        <input id="empty" type="button" value="清空" class="btn btn-danger" style="margin-left:18px;width:116px">
                        <div class="mws-form-row">    
                            <div class="mws-form-item"> 
                                <div id="bigimg" style="width:500px;margin-left:-24px"></div>
                            </div>  
                        </div>
                    </div>   
        		</div>
        		<div class="mws-button-row">
        			<input type="submit" value="确认" class="btn btn-danger">
        			<input type="reset" value="重置" class="btn ">
        		</div>
                <else />
                    <div class="mws-form-row">    
                        <div class="mws-form-item"> 
                            <div id="bigimg" style="width:500px;margin-left:-24px">
                                <div style="width:500px;border:1px solid #C5C5C5;border-radius:10%;margin-right:15px;margin-top:15px;clear:both"><textarea name="r_content" readonly style="width:500px;height:100px;opacity:0.5;overflow:hidden;border:3px solid #BBBBBB;border-radius:10%;color:#A29B9B;font-size:20px;font-family:microsoft yahei">{$info['r_content']}</textarea></div>
                            </div>
                        </div>  
                    </div>
                </if>
        	</form>
        </div>    	
    </div>
    <script type="text/javascript">
    //文本域事件
        $('textarea[name=r_content]').live('focus',function(){
            $(this).css('border','3px solid lightpink');
            if({$info['isok']}==0){
               $(this).val(''); 
            }   
        });
        $('textarea[name=r_content]').live('blur',function(){
            $(this).css('border','1px solid #AAA7A7');
        });

    //回复
    $('#replay').click(function(){
        $('#bigimg').append('<div style="width:500px;border:1px solid #C5C5C5;border-radius:10%;margin-right:15px;margin-top:15px;clear:both"><textarea name="r_content" style="width:500px;height:100px;opacity:0.5;overflow:hidden;border:3px solid #BBBBBB;border-radius:10%;color:#A29B9B;font-size:20px;font-family:microsoft yahei">请在此输入文字</textarea></div>');
    });
    
    //清空
     $('#empty').click(function(){
        $('#bigimg').empty();
     })

    </script>
</block>