<!DOCTYPE html>
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>修改密码</title>
  <link href="__PUBLIC__/Home/css/APindex.css" rel="stylesheet" type="text/css">
  <link href="__PUBLIC__/Home/css/manfind.css" rel="stylesheet" type="text/css">
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/layout.css">

  <style>
    .dd_r{
      height:auto!important;
    }
    .hei_444{
      height:500px;
      border-bottom:1px solid #dadada;
    }
  </style>
</head>
<body>
    <!-- 头部区块start -->
    <div class="layout">
      <div class="n-logo-area clearfix">
      	<a href="https://account.xiaomi.com/" class="fl-l">
      			<img src="__PUBLIC__/Home/image/n-logo.png">
      	</a>
      </div>
    </div>
    <!-- 头部区块end -->

<!-- 重设密码区块start -->
    <div class="suc_content changP nojsp">
        <div class="suc_kuang">
            <div class="hei_444">
              <!-- 小米帐号  > 重设帐号密码 部分star -->
              <div class="info">
                <span class="left_name">
                  <span class="m_name"><a href="" class="color_33">小米帐号</a>&nbsp;&nbsp;&gt;</span>
                  <span class="m_func">重设帐号密码</span>
                </span>
                <span class="right"><a class="fl-r logout" href="./index.html">退出</a>
                </span>
              </div>
              <!-- 小米帐号  > 重设帐号密码 部分end -->

              <!-- 表单区块start -->
              <form id="changePwdForm" method="post" action="">
              <div class="changP_container">
                  <p class="account_tips">请重设您的帐号密码</p>
                  <dl class="clearfix">
                      <!-- 当前密码条start -->
                      <dt class="dt_l">当前密码：</dt>
                      <dd class="dd_r clearfix">
                        <input id="txtPwd" class="input_kuang new_width item errortip" isrequired="true" name="oldpassword" type="password">
                        <span class="check_tips empty_tip" id="emailCode">请输入当前密码</span>
                      </dd>
                      <!-- 当前密码条end -->

                      <!-- 新密码条start -->
                      <dt class="dt_l clearfix">新密码：</dt>
                      <dd class="dd_r clearfix dd_r_pos" id="pwdTd">
                          <input class="input_kuang new_width item errortip" isrequired="true" id="pwd" name="password" type="password">
                          <span class="check_tips empty_tip">请输入新密码</span>
                          <span class="check_tips error_tip" id="tips_val"></span>
                          <span class="prompt_info" id="info_tips">密码长度8~16位，数字、字母、字符至少包含两种</span>
                          <span class="prompt_info" id="info_tips2" style="display:none;">密码长度8~16位，数字、字母、字符至少包含两种</span>
                          <span class="check_tips succ_tips"></span>
                          <span class="tips_1">密码长度为8~16位</span>
                          <span class="tips_2">密码不能全为字母</span>
                          <span class="tips_3">密码不能全为数字</span>
                          <span class="tips_5" style="display:none;">不能与原密码相同</span>
                          <span class="tips_6" style="display:none;">密码长度8~16位，数字、字母、字符至少包含两种</span>
                          <span class="tips_7" style="display:none;">密码不能全为字符</span>
                      </dd>
                      <!-- 新密码条end -->

                      <!-- 再次确认新密码条start -->
                      <dt class="dt_l clearfix">再次确认新密码：</dt>
                      <dd class="dd_r clearfix">
                        <input class="input_kuang new_width item errortip" isrequired="true" name="password2" repeat="#pwd" type="password">
                        <span class="check_tips repeat_tip">密码输入不一致</span>
                        <span class="check_tips empty_tip">请输入确认密码</span>
                        <span class="check_tips succ_tips"></span>
                      </dd>
                      <!-- 再次确认新密码条end -->
                      <dt class="dt_l"></dt>
                      <dd class="dd_r clearfix">
                        <input name="userId" value="108264313" type="hidden">
                        <input name="qs" value="" type="hidden">
                        <input name="passToken" id="passToken" value="" type="hidden">
                        <input name="passport_ph" id="passport_ph" value="753apvm3BcbHFwiq1PEbfw==" type="hidden">
                        <div class="sub_bg">
                          <input class="no_bg" value="提交" type="submit">
                        </div>
                      </dd>
                      <!-- 提交按钮 -->

                  </dl>
              </div>
              </form>
              <!-- 表单区块end -->

            </div>
        </div>
    </div>

<!-- 重设密码区块end -->

    <div class="msgTips hide" id="msgTips" style="z-index:9"></div>
    <p class="msgInfo hide" id="msgInfo"></p>
    <!-- foot 常见问题区块start -->
    <div class="footer" style="width:auto;">
      <div class="faq_link">
        <a class="a_critical" href="http://static.account.xiaomi.com/html/faq/faqList.html" target="_blank">
        <img src="__PUBLIC__/Home/image/wenhao.jpg"></a>
      </div>
      <ul class="links">
        <li><a href="http://www.mi.com/" target="_blank">小米手机</a></li>
        <li><a href="http://www.miui.com/" target="_blank">MIUI</a></li>
        <li><a href="http://www.miliao.com/" target="_blank">米聊</a></li>
        <li><a href="http://bbs.xiaomi.com/" target="_blank" class="hide-with-en">小米论坛</a></li>
        <li class="copyright"><span>小米公司版权所有-京ICP备10046444-京公网安备1101080212535</span></li>
      </ul>
    </div>
    <!-- foot 常见问题区块end -->



</body></html>