<extend name="AdminAuth:add" />
<block name="title">
	<title>管理员组修改</title>
</block>
<block name="con">
    <!-- 管理员组修改start -->
	<div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>管理员组修改</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form class="mws-form" action="{:U('Admin/AdminAuth/update_group')}" method="post">
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <div class="phone">
                            <label class="mws-form-label" style="width:80px;margin-left:60px">管理组名称 :</label>
                            <div class="mws-form-item">
                                <input type="text" class="small" name="title" value="{$groupInfo['title']}">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mws-form-row">
                        <label class="mws-form-label" style="width:80px;margin-left:60px">拥有规则ID :</label>
                        <div class="mws-form-item">
                            <input type="text" class="small" name="rules" value="{$groupInfo['rules']}">
                        </div>
                    </div> -->
                    <div class="mws-form-row">
                        <label class="mws-form-label" style="width:80px;margin-left:60px">拥有规则ID : 
                        <span class="required"></span></label>
                        <div class="mws-form-item">
                            <textarea class="required large small" cols="" rows="" name="rules"  style="height:100px;resize:vertical;">{$groupInfo['rules']}</textarea>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label" style="width:80px;margin-left:60px">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态 :</label>
                        <div class="mws-form-item clearfix">
                            <ul class="mws-form-list inline">
                                <li><input type="radio" name="status" value="1" {$groupInfo['status'] ? "checked='checked'" : ''}> <label>启用</label></li>
                                <li><input type="radio" name="status" value="0" {$groupInfo['status'] ? '' : "checked='checked'"}> <label>禁用</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mws-button-row">
            		<input type="hidden" name="id" value="{$groupInfo['id']}">
                    <input type="submit" value="修改" class="btn btn-danger" style="margin-left:60px">
                    <input type="reset" value="重置" class="btn ">
                </div>
            </form>
        </div>      
    </div>
    <!-- 管理员组修改end -->
</block>