<extend name="Index/index" />
<block name="title">
    <title>【{$pathValue[2]}】{$info['title']} {$colortit[0]}——小米手机官网</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/goods-Detail-big.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/goods-category.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        #nav-category-section{display: none;}
        .icon-stat{display:inline-block;*display:inline;*zoom:1;width:65px;height:14px;overflow:hidden;background-image:url("__PUBLIC__/Upload/Goods/icon-stat.png");background-repeat:no-repeat}
        #size span:hover{color:#ee330a}
        .size{color:#ee330a,border:1px solid #ee330a}
        .sizespan{cursor:pointer;float:left;width:32px;height:32px;border:1px solid #EDEDED;text-align:center;line-height:32px;}

        .mm {
        	display: none;
        	position: fixed;
        	left: 0;		    
		    top: 0;
		    height: 100%; 
		    width: 100%;
		    z-index: 1001;
		    background:gray;
		    opacity:0.3;
		}
    </style>
</block>
<block name="content">
	<!-- 分类路径导航 -->
    <div class="container breadcrumbs">  
    </div>
    <!-- 商品详情页开始 -->
	<div class="goods-detail container">
		<div class="goods-detail-info row clearfix">
			<!-- 商品图片区开始 -->
			<div class="span14 J_mi_goodsPic_block">
			    <div id="J_mi_goodsPicBox" class="goods-pic-box">
			    	<!-- 商品主图 -->
			        <div id="goods-big-pic" class="goods-big-pic"></div>
			        <!-- 轮播图 -->
			        <div class="goods-small-pic clearfix">	
			            <ul id="goodsPicList"></ul>
			        </div>
			        <!-- 上一张下一张控制区 -->
			        <span id="goodsPicPrev" title="上一张" class="icon-slides icon-slides-prev" title="上一张" style="background:url(__PUBLIC__/Home/image/icon-slides.png) no-repeat center center;background-position:-84px center;_filter:alpha(opacity=40);cursor:pointer;">上一张</span>
			        <span id="goodsPicNext" title="下一张" class="icon-slides icon-slides-next" title="下一张" style="background:url(__PUBLIC__/Home/image/icon-slides.png) no-repeat center center;background-position:-125px center;_filter:alpha(opacity=40);cursor:pointer;">下一张</span>
			    </div>
			</div>
			<!-- 商品图片区结束 -->
			<!-- 商品信息区开始 -->     
			<div class="span6 goods-info-rightbox">
				<dl class="goods-info-box ">
				    <dt class="goods-info-head">
				        <dl>
				            <dt id="goodsName">{$info['title']} {$colortit[0]}</dt>
				            <dd class="goods-info-head-price clearfix">
				                <div class="left-part">
				                    <b class="J_mi_goodsPrice">{$info['nowprice']}</b><i>&nbsp;元</i>
				                    <del><span class="J_mi_marketPrice">{$info['price']}元</span></del>
				                </div>
				                <div class="right-part"></div>
				            </dd>
				            <dd class="goods-info-head-userfaq">
				                <ul>
				                    <li class="faq J_pro_related_btns">
				                        <span data-class="icon-stat-5" class="icon-stat icon-stat-5 J_mi_goods_starNum"></span>
				                        <a href="#goodsComment">{$info['comment']}人评价</a>
				                        <span class="separator">|</span>
				                        <a href="#goodsFaq">{:count($askinfos)}个提问</a>
				                    </li>
				                </ul>
				            </dd>
							<dd class="goods-info-head-colors clearfix">
				            	<span>可选颜色：</span>
				                <div class="clearfix">
			                		<foreach name="zhupic" item="vo">
			                		<if condition="$key eq 0">
				                		<div class="colorli">
					                        <a title="{$colortit[$key]}" m="{$key}" class="coloractive" href="">
										        <img src="__PUBLIC__/Upload/Goods/{$vo}" class="square">
										    </a>
										</div>
									<else />
										<div class="colorli">
					                        <a title="{$colortit[$key]}" m="{$key}" href="">
										        <img src="__PUBLIC__/Upload/Goods/{$vo}" class="square">
										    </a>
										</div>
									</if>
									</foreach>
				                </div>
				            </dd>
				            	                
				            <dd class="goods-info-head-size clearfix" style="position:relative;border:none">
				            <if condition="$info['mcid'] eq 31">
				            	<span class="label">可选尺码：</span>
				           		<ul class="clearfix"  id="size">
									<foreach name="size" item="vo" >
										<switch name="$vo">    
											<case value="0">S</case>    
											<case value="1">M</case>
											<case value="2">L</case> 
											<case value="3">XL</case> 
											<case value="4">XXL</case>     
										</switch>
										<li>
					                        <span  class="sizespan" value="{$key}">{$vo}</span>
				                    	</li>			                    	
									</foreach>
				                </ul>
				            </if>
				            </dd>
				            
				            <dd id="goodsDetailBtnBox" class="goods-info-head-cart">
				            	<!-- 模拟隐藏域传值 -->
			                    <b class="gid" style="display:none">{$info['gid']}</b>
			                    <b class="title" style="display:none">{$info['title']}</b>
			                    <b class="colortit" style="display:none">{$colortit[0]}</b>
			                    <b class="zhupic" style="display:none">{$zhupic[0]}</b>
			                    <b class="price" style="display:none">{$info['price']}</b>
			                    <b class="nowprice" style="display:none">{$info['nowprice']}</b>
			                    <b class="comment" style="display:none">{$info['comment']}</b>
				            	<a id ="cart" class="btn btn-primary goods-add-cart-btn" href="" style="float:left">
				                <i class="iconfont "></i>加入购物车
				                </a>
								<a class="btn btn-primary goods-add-cart-btn" href="{:U('Home/Cart/index',array('gid'=>$info['gid']))}" style="display:none;float:left">
				                <i class="iconfont "></i>去购物车结算
				                </a>
				            	<a class="btn btn-dake  goods-collect-btn like" style="float:left;margin-left:8px">
				                	<i class="iconfont"></i>
				           		</a>	
				        	</dd>
				        </dl>
				    </dt>
				    <dd class="goods-info-head-intro">
				    </dd>
				    <dd class="goods-info-foot">
				        <span class="iconfont"></span>
				        <a href="{:U('Home/List/index',array('cid'=>$path[$length-1]))}">查看更多服装</a>
				    </dd>
				</dl>
			</div>
			<!-- 商品信息区结束 -->
		</div>
		<!-- 商品大图区开始 -->
		<div class="row goods-detail-desc">
		    <!--E left side-->
		    <div class="span20">
		        <!-- 商品描述 START-->
		        <div id="goodsDetail" class="xm-box  goods-detail-box ">
		            <div class="box-hd">
		                <ul class="items clearfix J_pro_related_btns">
		                    <li class="current">
		                       <a href="#goodsDesc" data-stat-id="f1f71044341f26e4" onclick="">详细信息</a>
		                    </li>
		                    <!-- <li>
		                       <a href="#goodsParam" data-stat-id="4a9918d4f5b5c72a" onclick="">规格参数</a>
		                    </li> -->
		                    <li>
		                       <a href="#goodsComment" data-stat-id="7aa99b4e11e09534" onclick="">评价晒单</a>
		                    </li>
		                    <li>
		                       <a href="#goodsFaq" data-stat-id="9a817a679937e337" onclick="">商品提问</a>
		                    </li>
		                    <li>
		                       <a href="#serQue" data-stat-id="d4ce554f68cbd96c" onclick="">售后服务</a>
		                    </li>
		                </ul>                   
		            </div>
		            <div id="goodsDesc" class="box-bd">
		            </div>
		        </div>
		        <!-- 商品描述 END-->
		        <!--S 规格-->
		        <!-- <div id="goodsParam" class="xm-box goods-detail-standard">
		            <div class="box-hd">
		                <div class="title">
		                    规格参数
		                </div>
		            </div>
		            <div class="box-bd">
		                <table>
		                    <thead>
		                    </thead>
		                    <tbody>
		                        <tr>
		                            <th>商品编号</th>
		                            <td>1152200006</td>
		                            <th class="th1"></th>
		                            <td class="td1"></td>
		                        </tr>                           
		                        <tr>
		                            <th>材质成分</th>
		                            <td>棉100%</td>
		                                                                                                            
		                            <th>尺码</th>
		                            <td>S-XXL</td>
		                        </tr>                                                        
		                        <tr>
		                            <th>适合季节</th>
		                            <td>夏</td>
		                                                                                                            
		                            <th>版型</th>
		                            <td>合体</td>
		                        </tr>                                                        
		                        <tr>
		                            <th>工艺</th>
		                            <td>胶印</td>
		                                                                                                            
		                            <th>颜色</th>
		                            <td>红色</td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div> -->
		        <!--E 规格-->
		       	<div class="row">
		       		<div class="span4">
		        		<div class="left-side">
				            <div id="goodsRectScan" class="xm-box goods-recent">  
					            <div class="box-hd"> 
					            	<div class="title"> 最近浏览 </div> 
					            </div> 
					            <div class="box-bd"> 
					            	<ul class="clearfix"> 
					            	<foreach name="lastinfos" item="vo"> 
					            		<li> 
					            			<a target="_blank" href="{:U('Home/Detail/index',array('gid'=>$vo['gid']))}"> <img alt="{$vo['title']} {$vo['colortit']}" src="__PUBLIC__/Upload/Goods/{$vo['s_img']}"> </a> 
					            		</li>
					            	</foreach>
					            	</ul>
					            </div>
				            </div>
				            <div id="RECOMMEND-MODAL" class="xm-box goods-alsobuy xm-goods-side-list J_goodsAlsoBuy"> 
				            	<div class="box-hd"> 
				            		<div class="title"> 买过的人还买了 </div> 
				            	</div> 
				            	<div class="box-bd"> 
				            		<ul>
				            		<foreach name="neworderinfos" item="vo"> 
				            			<li> 
				            				<a target="_blank" href="{:U('Home/Detail/index',array('gid'=>$vo['gid']))}"> 
					            				<h2>{$vo['title']}</h2> 
					            				<h2>{$vo['nowprice']}元</h2> 
					            				<div class="star"> 
					            					<span class="icon-stat icon-stat-5"></span> 
					            				</div> 
					            				<img alt="" src="__PUBLIC__/Upload/Goods/{$vo['s_img']}" class="leftImg" style="margin-left:5px"> 
				            				</a> 
				            			</li>
				            		</foreach>   
				            		</ul> 
				            	</div>
				            </div>
				        </div>
			        </div>
		       		<div class="span16">
		       			<div class="right-side">
				            <!--S 商品评论 -->
				            <div id="goodsComment" class="xm-box goods-detail-comment ">
		                        <div class="box-hd">
		                            <div class="title">
		                                用户评价
		                            </div>
		                            <div style="display:block" class="more J_comment_order">
		                                <span data-order="1" class="item  active">最有用</span>
		                                <span class="separator">|</span>
		                                <span data-order="0" class="item ">最新</span>
		                            </div>
		                        </div>
		                        <!--商品评论开始-->
				                <div id="J_goods_detail_comment" class="box-bd">
		                            <div class="head">  
			                            <ul class="com-head clearfix"> 
			                            	<li class="left"><h2>{$rate}<b>%</b></h2> <p>五星评价率</p> </li> 
			                            	<li class="middle">
			                            		<for start="5" end="1" comparison="egt" step="-1"> 
			                            		<div class="item"> <span class="icon-stat icon-stat-{$i}"></span> <span class="num">{$stat[$i]}人</span> </div> 
			                            		</for>
			                            		<!--
			                            		<div class="item"> <span class="icon-stat icon-stat-4"></span> <span class="num">12人</span> </div> 
			                            		<div class="item"> <span class="icon-stat icon-stat-3"></span> <span class="num">4人</span> </div> 
			                            		<div class="item"> <span class="icon-stat icon-stat-2"></span> <span class="num">1人</span> </div> 
			                            		<div class="item"> <span class="icon-stat icon-stat-1"></span> <span class="num">0人</span> </div>-->
			                            	</li>
			                            	<!-- 
			                            	<li class="right clearfix">  
			                            		<div class="item">简约大方</div>  
			                            		<div class="item">做工精细</div>  
			                            		<div class="item">触感舒适</div>  
			                            		<div class="item">超便宜</div>  
			                            		<div class="item">很合身</div>  
			                            	</li>-->
			                            </ul>
		                            </div>
		                            <div class="com-body">
		                                <ul class="content J_goods_detail_comment_content">
		                                	<!-- <foreach name="com_info" item="vo" >  
			                                <li> 
			                                	<div class="article"> 
			                                		<h3 class="art_star clearfix"> 
				                                		<div class="leftPart"> <span class="icon-stat icon-stat-{$vo['com_star']}"></span> </div> 
				                                		<div class="rightPart"> {$vo.comment_time|date="Y-m-d",###} </div> 
			                                		</h3> 
			                                		<div class="art_content">  
			                                			<a href="" target="_blank" onclick=""> {$vo['content']} </a> 
			                                		</div> -->
			                                		<!--  
			                                		<div class="art_info clearfix"> 
				                                		<div class="leftPart"> 此评价是否有用？ 
				                                			<span data-id="10416638" class=" usebtn J_use">有用(0)</span> 
				                                			<span data-id="10416638" class=" usebtn J_unuse">没用(0)</span> 
				                                		</div> 
				                                		<div class="rightPart">    
				                                			<span>来自于小米网</span>  
				                                			<span class="separator">|</span> 
				                                			<a target="_blank" href="" onclick="">回复</a>
				                                		</div> 
			                                		</div> 
			                                		-->
			                                		<!-- <if condition="$vo['status'] eq 1">
			                                		<div class="art_reply"> 
			                                			<i>官方回复：</i>{$vo['recontent']} 
			                                		</div>
			                                		<else />
			                                		<div class="art_reply"> 
			                                			 暂无回复
			                                		</div>
			                                		</if>  
		                                		</div> 
		                                		<div class="head_photo"> 
		                                			<a href="" target="_blank" onclick="">
		                                				<img alt="" src="__PUBLIC__/{$vo['image']}">
		                                			</a> 
		                                			<a href="" target="_blank" onclick="">
		                                				<h3 class="name">{$vo['ssid']}</h3>
		                                			</a> 
		                                		</div> 
		                                	</li>
		                                	</foreach>   -->
		                                </ul>
		                                <div data-error="暂无用户对此款商品评价" class="more-content J_goods_detail_comment_more">
		                                    <a target="_blank" href="" onclick="">查看更多评价 &gt;</a>
		                                </div>
		                            </div>
		                        </div>
		                        <!--商品评论结束-->
				            </div>
				            <!--E 商品评论 -->
				            <!-- FAQ  -->
				            <div id="goodsFaq" class="xm-box goods-detail-faq">
				                <div class="box-hd">
				                    <div class="title">产品提问</div>
				                    <div class="more J_question_all_link">
				                        <span class="more-link" style="cursor:pointer">查看全部 &gt;</span>
				                    </div>
				                </div>
				                <div class="box-bd">
				                    <ul class="faq-list J_mi_question moreask">
				                    <for start="0" end="3">
				                    <if condition="$askinfos[$i]['isok'] eq 1">
				                    	<li> 
				                    		<h3 class="question"> <span class="icon-ques">Q</span> <span>{$askinfos[$i]['a_content']}</span> </h3> 
				                    		<p class="answer">  
				                    			<span class="icon-ques icon-ans stard">A</span> {$askinfos[$i]['r_content']} 
				                    		</p> 
				                    		<div class="author"> 
				                    			<div class="leftPart"> <span>{$askinfos[$i]['mssid']}</span>  </div> 
				                    			<div class="rightPart"> {:date('Y',$askinfos[$i]['atime'])}年{:date('m',$askinfos[$i]['atime'])}月{:date('d',$askinfos[$i]['atime'])}日 </div> 
				                    		</div> 
				                    	</li>
										</if>
				                    </for>
				                    </ul>
				                    <div class="faq-input">
				                        <span class="iconfont"></span>
				                        我要提问<input type="text" name="a_content" placeholder="您的提问将会发给小米官方客服和产品经理" class="input-content J_mi_ask_content">
				                        <a id="ask" class="btn btn-primary ques-btn J_mi_ask" href="">向购买者提问</a>
				                    </div>
				                </div>
				            </div>
				            <!-- FAQ END -->
				            <!-- 常见问题 -->
				            <div class="common-question">
				                <div class="question-hd clearfix">
				                    <div class="title_a">常见问题</div>
				                    <div class="title_b"><a id="serQue" href="" target="service">售后服务</a></div>
				                </div>
				                <div class="question-bd">
				                    <ul class="content">
				                        <li>
				                            <h3>如何挑选商品？</h3>
				                            <p>点击页面上方“加入购物车”按钮或页面下拉时顶部导航上的“加入购物车”按钮将商品加入购物车，再点击页面右上角的“购物车”前往购物车页面进行结算。</p>
				                        </li>
				                        <li>
				                            <h3>收藏商品功能</h3>
				                            <p>点击“收藏按钮”后，按钮中的白心亮起,背景由黑色变为黄色代表收藏成功，再次点击取消收藏。您可在“个人中心”中的我的收藏查看所有收藏商品。</p>
				                        </li>
				                        <li>
				                            <h3>维修网点销售配件吗？</h3>
				                            <p>所有授权维修网点具备维修手机标配里配件的功能，部分指定授权维修网点可销售标配及部分官网配件，具体销售的产品及价格请以维修网点信息为准。</p>
				                        </li>
				                        <li>
				                            <h3>退换货办理流程</h3>
				                            <p>您可拨打小米客服中心400-100-5678与客服人员沟通，或登录小米网“我的订单” -&gt;“订单详情”下方点击“申请售后服务”并填写相应信息，小米看到您的申请，会安排工作人员与您进行退换货质量确认并办理相关事宜。</p>
				                        </li>
				                    </ul>
				                </div>
				            </div>
				            <!-- 常见问题 END-->
				            <div style="height:0px;" class="guess-u-like">
				                <!--  <h2>猜你喜欢</h2>
				                <ul class="goods-list xm-goods-list clearfix" id="guess-u-like-box">
				                </ul> -->
				            </div>
			            </div>
		       		</div>
		       	</div>
		    </div>
		</div>
		<!-- 商品大图区结束 -->
	</div>
	<!-- 商品详情页结束 -->	
	<!-- 购物车顶部显示栏 -->
	<div id="goodsSubBar" class="goods-sub-bar">
	    <div class="container">
	        <div class="row">
	            <div class="span5">
	                <dl class="goods-sub-bar-info clearfix">
	                    <dt>
	                    	<img src="__PUBLIC__/Upload/Goods/{$zhupic[0]}">
	                    </dt>
	                    <dd>
	                        <strong>{$info['title']}</strong>
	                        <p>
	                            <em><span class="J_mi_goodsPrice">{$info['nowprice']}</span>元</em>
	                            <del><span class="J_mi_marketPrice">{$info['price']}元</span></del>
	                        </p>
	                    </dd>
	                </dl>
	            </div>
	            <div class="span15">
	                <div id="goodsSubBarBtnBox" class="fr">
	                    <a id="goodsSubBarAddCartBtn" class="btn btn-primary goods-add-cart-btn stopCursor" href="###">
	                        <i class="iconfont"></i>加入购物车
	                    </a>
	                    <a id="goodsSubBarAddCartBtn" class="btn btn-primary goods-add-cart-btn stopCursor" style="background:#90CE36;border:1px solid #90CE36;display:none;" href="###">
	                        <i class="iconfont"></i>加入成功
	                    </a>
	                    <a id="goodsSubBarAddCartBtn" class="btn btn-primary goods-add-cart-btn stopCursor" style="display:none" href="{:U('Home/Cart/index',array('gid'=>$info['gid']))}">
	                        <i class="iconfont"></i>去购物车结算
	                    </a>
	                </div>
	                <div id="goodsSubMenu" class="goods-desc-menu">
	                    <ul class="items clearfix J_pro_related_btns">
	                       <li class="current">
	                           <a href="#goodsDesc">详细信息</a>
	                       </li>
	                       <!-- <li>
	                           <a href="#goodsParam">规格参数</a>
	                       </li> -->
	                                              <li>
	                           <a href="#goodsComment">评价晒单</a>
	                       </li>
	                                              <li>
	                           <a href="#goodsFaq">商品提问</a>
	                       </li>

	                       <li>
	                           <a href="#serQue">售后服务</a>
	                       </li>
	                    </ul>
	                </div>

	            </div>
	        </div>
	    </div>
    </div>
	<!-- 售后服务 -->
	<div class="modal-faq modal hide in" id="modal-faq" style="display:none;">
	    <div class="modal-header faq-header">
	        <a id="closeservice" class="close" type="button"><i class="iconfont"></i></a>
	        <h3>售后服务与退换货流程</h3>
	    </div>
	    <div class="modal-body faq-body">
	        <iframe width="695" height="489" frameborder="0" src="{:U('Home/Detail/service')}"></iframe>
	    </div>
	</div>
	<!-- 遮层div开始 -->
	<div id="mm" class="mm"></div>
	<!-- 遮层div结束 -->
	<!-- JS详情代码区开始 -->
	<script type="text/javascript">
		//分类导航显示控制
			$('.breadcrumbs').append($('<a href="{:U('Home/Index/index')}">首页</a>'));

            <for start="1" end="$pathlength">
            $('.breadcrumbs').append($("<span class='sep'>/</span><a href='{:U("Home/List/index",array("cid"=>$path[$i]))}'>{$pathValue[$i]}</a>"));
            </for>

            $('.breadcrumbs').append($("<span class='sep'>/</span><a href='#'>{$info['title']}</a>"));

        //侧边分类栏控制
	        $(function(){
	            $('#J_categoryContainer').hover(function(){$('#nav-category-section').css('display','block');},
	                function(){$('#nav-category-section').css('display','none');})
	        })

		//创建默认显示的主图
			suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[0]}",'#goods-big-pic img');
			$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic" src="__PUBLIC__/Upload/Goods/{$zhupic[0]}">');

		//主图单击事件
			var w = '';
			var h = '';
			var l = '';
			var t = '';
	 		$('.goods-big-pic').click(function(){
	 			//遮层div配置
	 			$('#mm').css({display:'block',background:'white',opacity:'1'});
	 			//body和遮层div配置
				$('body').css({overflow:'hidden'});
				//轮播小图隐藏
				$('#J_mi_goodsPicBox').find('.goods-small-pic').css('display','none');
				//获取元素初始位置,以便动画执行完后进行还原
				w = $('#J_mi_goodsPicBox').width()-8;
				h = $('#J_mi_goodsPicBox').height();
				l = $('#J_mi_goodsPicBox').offset().left;
				t = $('#J_mi_goodsPicBox').offset().top;
				//动画
	 			$('#J_mi_goodsPicBox').css({position: 'fixed',zIndex: '1002',background:'white'}).animate({
					width:'100%',
					height:'670px',
					left:'0px',
					top:'0px',
					
				},1000)
	 			//创建关闭按钮
				setTimeout(function(){
					$('#J_mi_goodsPicBox').append('<div id="close" style="width:60px;height:60px;background:#8C8C8C;color:white;text-align:center;line-height:60px;font-size:20px;z-index:300;position:fixed;left:50px;top:50px;cursor:pointer"><i class="iconfont"></i></div>')
				},1500)
	 		});

	 		//关闭设置
			$('#J_mi_goodsPicBox').find('#close').live('click',function(){
				$(this).remove();
				//动画还原
				$('#J_mi_goodsPicBox').css({position: 'absolute',zIndex: '1002',background:''}).animate({
					width:w,
					height:h,
					left:l,
					top:t,
				},1000)
				//body和遮层div配置 还原
				setTimeout(function(){
					$('#mm').css({display:'none',background:'gray',opacity:'0.2'});
					$('body').css({overflow:'auto'});
					$('#J_mi_goodsPicBox').find('.goods-small-pic').css('display','block');

				},1500)
				
			})

		//创建默认显示的副图
			$('#goodsPicList').append('<foreach name="zhupic" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
			
		//创建购物车默认动画主图
			// suofang(140,140,"__PUBLIC__/Upload/Goods/{$zhupic[0]}",'.goods-info-head-size img');
			$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" class="J_goodsBigPic" style="width:100%;height:100%" src="__PUBLIC__/Upload/Goods/{$zhupic[0]}"></div>');

		//绑定事件 --- 切换主图与副图
			var m = 0;
			var n = '';//定义尺寸
			$('.colorli a').click(function(){
				//移除原来主图与副图
				$('#J_mi_goodsPicBox .goods-big-pic,#goodsPicList').children().remove();
				// $(this).css('border','1px solid #ee330a').parent().siblings().children().css('border','none');
				//修改样式
				m = $(this).attr('m');
				$(this).addClass('coloractive').parent().siblings().children().removeClass('coloractive');
				if(m==0){
					//修改网页标题
					$('title').text("【{$pathValue[2]}】{$info['title']} {$colortit[0]}——小米手机官网")
					//修改商品标题
					$('#goodsName').text("{$info['title']} {$colortit[0]}")
					//创建主图
					suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[0]}",'#goods-big-pic img');
					$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[0]}">')
					//创建副图
					$('#goodsPicList').append('<foreach name="s_img[0]" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
					//修改购物车顶栏主图与商品标题
					$('#goodsSubBar').find('.goods-sub-bar-info').children(0).children().attr('src','__PUBLIC__/Upload/Goods/{$zhupic[0]}')
					$('#goodsSubBar').find('.goods-sub-bar-info').children(1).find('strong').text("{$info['title']} {$colortit[0]}");
					//创建购物车默认动画主图
					$('.goods-info-head-size').find('#moive').remove()
					// suofang(140,140,"__PUBLIC__/Upload/Goods/{$zhupic[0]}",'.goods-info-head-size img');
					$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" style="width:100%;height:100%" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[0]}"></div>');
					
					//重置购物车按钮
					
					$('#goodsDetailBtnBox a').eq(1).slideUp(600);
					
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(0).slideDown(600);
					},600)

					if({$info['mcid']}==31){
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
					}else{
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
					}

					//重置尺码样式
					$('.sizespan').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
					n = '';
				}else if(m==1){
					//修改网页标题
					$('title').text("【{$pathValue[2]}】{$info['title']} {$colortit[1]}——小米手机官网")
					//修改商品标题
					$('#goodsName').text("{$info['title']} {$colortit[1]}")
					//创建主图
					suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[1]}",'#goods-big-pic img');
					$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[1]}">')
					//创建副图
					$('#goodsPicList').append('<foreach name="s_img[1]" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
					//修改购物车顶栏主图与商品标题
					$('#goodsSubBar').find('.goods-sub-bar-info').children(0).children().attr('src','__PUBLIC__/Upload/Goods/{$zhupic[1]}')
					$('#goodsSubBar').find('.goods-sub-bar-info').children(1).find('strong').text("{$info['title']} {$colortit[1]}");
					//创建购物车默认动画主图
					$('.goods-info-head-size').find('#moive').remove()
					// suofang(140,140,"__PUBLIC__/Upload/Goods/{$zhupic[1]}",'.goods-info-head-size img');
					$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" style="width:100%;height:100%" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[1]}"></div>');
					
					//重置购物车按钮
					
					$('#goodsDetailBtnBox a').eq(1).slideUp(600);
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(0).slideDown(600);
					},600)

					if({$info['mcid']}==31){
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
					}else{
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
					}


					//重置尺码样式
					$('.sizespan').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
					n = '';
				}else if(m==2){
					//修改网页标题
					$('title').text("【{$pathValue[2]}】{$info['title']} {$colortit[2]}——小米手机官网")
					//修改商品标题
					$('#goodsName').text("{$info['title']} {$colortit[2]}")
					//创建主图
					suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[2]}",'#goods-big-pic img');
					$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[2]}">')
					//创建副图
					$('#goodsPicList').append('<foreach name="s_img[2]" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
					//修改购物车顶栏主图与商品标题
					$('#goodsSubBar').find('.goods-sub-bar-info').children(0).children().attr('src','__PUBLIC__/Upload/Goods/{$zhupic[2]}')
					$('#goodsSubBar').find('.goods-sub-bar-info').children(1).find('strong').text("{$info['title']} {$colortit[2]}");
					//创建购物车默认动画主图
					$('.goods-info-head-size').find('#moive').remove()
					// suofang(140,140,"__PUBLIC__/Upload/Goods/{$zhupic[2]}",'.goods-info-head-size img');
					$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" style="width:100%;height:100%" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[2]}"></div>');
					
					//重置购物车按钮
					$('#goodsDetailBtnBox a').eq(1).slideUp(600);
					
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(0).slideDown(600);
					},600)

					if({$info['mcid']}==31){
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
					}else{
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
					}
					//重置尺码样式
					$('.sizespan').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
					n = '';
				}else if(m==3){
					//修改网页标题
					$('title').text("【{$pathValue[2]}】{$info['title']} {$colortit[3]}——小米手机官网")
					//修改商品标题
					$('#goodsName').text("{$info['title']} {$colortit[3]}")
					//创建主图
					suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[3]}",'#goods-big-pic img');
					$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[3]}">')
					//创建副图
					$('#goodsPicList').append('<foreach name="s_img[3]" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
					//修改购物车顶栏主图与商品标题
					$('#goodsSubBar').find('.goods-sub-bar-info').children(0).children().attr('src','__PUBLIC__/Upload/Goods/{$zhupic[3]}')
					$('#goodsSubBar').find('.goods-sub-bar-info').children(1).find('strong').text("{$info['title']} {$colortit[3]}");
					//创建购物车默认动画主图
					$('.goods-info-head-size').find('#moive').remove()
					$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" style="width:100%;height:100%" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[3]}"></div>');
					
					//重置购物车按钮
					$('#goodsDetailBtnBox a').eq(1).slideUp(600);
					
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(0).slideDown(600);
					},600)

					if({$info['mcid']}==31){
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
					}else{
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
					}
					//重置尺码样式
					$('.sizespan').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
					n = '';
				}else if(m==4){
					//修改网页标题
					$('title').text("【{$pathValue[2]}】{$info['title']} {$colortit[4]}——小米手机官网")
					//修改商品标题
					$('#goodsName').text("{$info['title']} {$colortit[4]}")
					//创建主图
					suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[4]}",'#goods-big-pic img');
					$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[4]}">')
					//创建副图
					$('#goodsPicList').append('<foreach name="s_img[4]" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
					//修改购物车顶栏主图与商品标题
					$('#goodsSubBar').find('.goods-sub-bar-info').children(0).children().attr('src','__PUBLIC__/Upload/Goods/{$zhupic[4]}')
					$('#goodsSubBar').find('.goods-sub-bar-info').children(1).find('strong').text("{$info['title']} {$colortit[4]}");
					//创建购物车默认动画主图
					$('.goods-info-head-size').find('#moive').remove()
					$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" style="width:100%;height:100%" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[4]}"></div>');
					
					//重置购物车按钮
					$('#goodsDetailBtnBox a').eq(1).slideUp(600);
					
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(0).slideDown(600);
					},600)

					if({$info['mcid']}==31){
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
					}else{
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
					}
					//重置尺码样式
					$('.sizespan').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
					n = '';
				}else if(m==5){
					//修改网页标题
					$('title').text("【{$pathValue[2]}】{$info['title']} {$colortit[5]}——小米手机官网")
					//修改商品标题
					$('#goodsName').text("{$info['title']} {$colortit[5]}")
					//创建主图
					suofang(430,430,"__PUBLIC__/Upload/Goods/{$zhupic[5]}",'#goods-big-pic img');
					$('#J_mi_goodsPicBox .goods-big-pic').append('<img id="J_BigPic" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[5]}">')
					//创建副图
					$('#goodsPicList').append('<foreach name="s_img[4]" item="vo"><if condition="$key==0"><li class="current"><img src="__PUBLIC__/Upload/Goods/{$vo}"></li><else /><li class=""><img src="__PUBLIC__/Upload/Goods/{$vo}"></li></if></foreach>');
					//修改购物车顶栏主图与商品标题
					$('#goodsSubBar').find('.goods-sub-bar-info').children(0).children().attr('src','__PUBLIC__/Upload/Goods/{$zhupic[5]}')
					$('#goodsSubBar').find('.goods-sub-bar-info').children(1).find('strong').text("{$info['title']} {$colortit[5]}");
					//创建购物车默认动画主图
					$('.goods-info-head-size').find('#moive').remove()
					$('.goods-info-head-size').prepend('<div id="moive" class="goods-big-pic" style="width:145px;height:145px;position:absolute;left:-10px;top:-34px;z-index:1000;display:none;opacity:0.6"><img id="J_BigPic" style="width:100%;height:100%" class="J_goodsBigPic"  src="__PUBLIC__/Upload/Goods/{$zhupic[5]}"></div>');
					
					//重置购物车按钮
					$('#goodsDetailBtnBox a').eq(1).slideUp(600);
					
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(0).slideDown(600);
					},600)

					if({$info['mcid']}==31){
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
					}else{
						$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
					}
					//重置尺码样式
					$('.sizespan').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
					n = '';
				}
			return false;
			});

		//点击副图轮播切换
			$('#goodsPicList li').live('click',function(){
				$(this).addClass('current').siblings().removeClass('current');
				var index = $(this).index();
				var srcimg = $(this).children().attr('src');
				suofang(430,430,srcimg,'#goods-big-pic img');
				$('#J_BigPic').attr('src',srcimg);
			});

		//上一张 下一张
			//hover事件
			$('#goodsPicPrev').hover(function(){
		    	$(this).css('background-position','0 center');
		    },function(){
		    	$(this).css('background-position','-84px center');
		    });

		    $('#goodsPicNext').hover(function(){
		    	$(this).css('background-position','-42px center');
		    },function(){
		    	$(this).css('background-position','-125px center');
		    })
		    //单击事件
			var index = 0;
			$('#goodsPicPrev').click(function(){
			   
				index--;
				if(index<0){
					index=3;
				}
				$('#goodsPicList li').eq(index).addClass('current').siblings().removeClass('current');
				srcimg = $('#goodsPicList li').eq(index).children().attr('src');
				$('#J_BigPic').attr('src',srcimg);
			});	

			$('#goodsPicNext').click(function(){
			   
				index++;
				//alert(index);
				if(index>3){
					index=0;
				}
				$('#goodsPicList li').eq(index).addClass('current').siblings().removeClass('current');
				srcimg = $('#goodsPicList li').eq(index).children().attr('src');
				//alert(srcimg)
				$('#J_BigPic').attr('src',srcimg);
			});	
					
		//定义尺寸size事件
			$('.sizespan').click(function(){
				$(this).css({border:'1px solid #ee330a',color:'#ee330a'}).parent().siblings().find('span').css({border:'1px solid #EDEDED',color:'#8C8C8C'});
				$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
				//获取尺寸
				 n = $(this).attr('value');
			});
		//不是服装的情况
			if({$info['mcid']}==31){
				$('#goodsDetailBtnBox').find('.goods-add-cart-btn').addClass('stopCursor');
			}else{
				$('#goodsDetailBtnBox').find('.goods-add-cart-btn').removeClass('stopCursor');
			}

		//点击购物车事件
			if({$info['mcid']}==31){
				$('#goodsDetailBtnBox a').eq(0).hover(function(){					
					if(n == ''){
						$(this).parent().append('<div class="goodsDetailInfo">请选择尺码</div>');
					}else{
						$(this).parent().find('.goodsDetailInfo').remove();
					}
				},function(){
					$(this).parent().find('.goodsDetailInfo').remove();
				
				})
			}
			//获取商品gid
			var gid = {$info['gid']};
			//获取颜色
			var colortit = m;
			//获取尺寸
			var size = n;
			$('#cart').live('click',function(){
				if(n=='' && {$info['mcid']}==31){
					return false;
				}
				$(function(){$('#moive').css('display','block').animate({
					width:'25px',
					height:'25px',
					left:'260px',
					top:'-418px',
				},1000)});
				$(function(){$('#moive').fadeOut('fast')});

				$('#goodsDetailBtnBox a').eq(0).slideUp(600);
					var dd = $('#goodsDetailBtnBox a');
					setTimeout(function(){
						dd.eq(1).slideDown(600)
					},600)

				setTimeout(function(){
					$.ajax({
					url:"{:U('Home/Cart/add')}",
					type:'GET',
					data:{gid:gid},
					dataType:'json',
					success:function($data){  
					   do_cat();
					 },
					 timeout:60*1000,
				 });
				},1200);

				return false;
			})

		//详情显示
			var intro = eval({$intro});
			var reg = /\w+\.(jpg|jpeg|png|gif)/;
			for(var i in intro){
				if(reg.test(intro[i])){
					$('#goodsDesc').append('<img style="margin-bottom:40px;" src="__PUBLIC__/Upload/Goods/'+intro[i]+'" alt=""><br>');
				}else{
					$('#goodsDesc').append("<p style='font-size:30px;font-family:macrosoft yahei'>"+intro[i]+"</p><br>");
				}
			}

		//顶部购物车的显示控制
			$(window).scroll(function(){
				//获取元素相对文档的高度
				var t = $('#goodsDesc').offset().top;
				//获取可视区域的高度
				var vH = $(window).height();
				//获取元素的滚动高度
				var sH = $(window).scrollTop();
				if(sH >= t-2){
					$('#goodsSubBar').addClass('goods-sub-bar-play')
				}else{
					$('#goodsSubBar').removeClass('goods-sub-bar-play')
				}

			});

			var mcid = {$info['mcid']};

			$(function(){$('#goodsSubBarAddCartBtn').click(function(){
				if(n=='' && mcid==31){
					$('#mm').css('display','block');
					$('body').css({overflow:'hidden'});
					alert('请选择您要购买的商品尺码');
					$('#mm').css('display','none');
					$('body').css({overflow:'auto'});
					return false;
				}else{
					// $(this).css({display:'none'}).next().css({display:'block'});
					$(this).hide(600);
					var t = $(this);
					setTimeout(function(){
						t.next().slideDown(1000)
					},601)
					setTimeout(function(){
						// t.next().css('display','none').next().css('display','block');
						t.next().slideUp(0).next().show(1000)
					},2500)
				}})
			});

		//售后服务
			$('#serQue').click(function(){
				$('#modal-faq,#mm').css({display:'block'})
				return false;
			})
			$('#closeservice').click(function(){
				$('#modal-faq,#mm').css({display:'none'})
			})	

		//商品评论
			var p = 1;//当前页码
			var isLoading = false;//是否正在加载
			var gid={$info['gid']};//获取gid
			$(function(){
				//当页面加载完毕之后 请求服务器
				$.get("{:U('Home/Detail/getComment')}",{p:p,num:5,gid:gid}, function(data){
					for(var i=0;i<data.length;i++){
						var huifu = '';
						if(data[i].status == 1){
							huifu = '<div class="art_reply"> <i>官方回复：</i>'+data[i].recontent+'</div>';
						}else{
							huifu = '<div class="art_reply"> 暂无回复</div>';
						}
						//创建元素
						var newLi = $('<li><div class="article"><h3 class="art_star clearfix"><div class="leftPart"><span class="icon-stat icon-stat-'+data[i].com_star+'"></span></div><div class="rightPart">'+data[i].comment_time+'</div></h3><div class="art_content"><a href="" target="_blank" onclick="">'+data[i].content+'</a></div>'+huifu+'</div> <div class="head_photo"> <a href="" target="_blank" onclick=""><img alt="" src="__PUBLIC__/'+data[i].img+'"></a><a href="" target="_blank" onclick=""><h3 class="name">'+data[i].name+'</h3></a> </div></li>');
						//将元素插入到ul中
						$('.J_goods_detail_comment_content').append(newLi);
					}
					//请求完毕之后 页码加1
					p++;
				},'json');

				//绑定单击事件
				$('.J_goods_detail_comment_more').click(function(){
					if(isLoading == true){//如果当前正在加载的话 
						return false;
					}
					//修改加载状态
					isLoading = true;
					//请求ajax
					$.get("{:U('Home/Detail/getComment')}",{p:p,num:5,gid:gid}, function(data){
						for(var i=0;i<data.length;i++){
							//创建元素
							var newLi = $('<li><div class="article"><h3 class="art_star clearfix"><div class="leftPart"><span class="icon-stat icon-stat-'+data[i].com_star+'"></span></div><div class="rightPart">'+data[i].comment_time+'</div></h3><div class="art_content"><a href="" target="_blank" onclick="">'+data[i].content+'</a></div><if condition="'+data[i].status+' eq 1"><div class="art_reply"> <i>官方回复：</i>'+data[i].recontent+'</div><else /><div class="art_reply"> 暂无回复</div></if></div> <div class="head_photo"> <a href="" target="_blank" onclick=""><img alt="" src="__PUBLIC__/'+data[i].image+'"></a><a href="" target="_blank" onclick=""><h3 class="name">'+data[i].name+'</h3></a> </div></li>');
							//将元素插入到ul中
							$('.J_goods_detail_comment_content').append(newLi);
						}
						//请求完毕之后 页码加1
						p++;
						//修改加载状态
						isLoading = false;
					},'json');
					return false;
				})
			})

		//产品提问
			$('input[type=text]').focus(function(){
				$(this).val('');
			})
			$('#ask').click(function(){
	        	var a_content = $(this).parent().find('input').val();
	        	//获取参数
	        	var mgid = '{$mgid}';
	        	var title = '{$info['title']}';
	        	var zhupic = '{$zhupic[0]}';
	        	var uid = '{$uid}';
	        	var mssid = '{$mssid}';
	        	$.post("{:U('Admin/Ask/insert')}",{mgid:mgid,title:title,zhupic:zhupic,uid:uid,mssid:mssid,a_content:a_content},function(){
	        		alert('提交成功  等待审核！');
	        	})
	        	return false;
	        })

	        //单击查看全部
	        $('.more-link').click(function(){
        		$('.faq-list').empty().append('<for start="0" end="count($askinfos)"><if condition="$askinfos[$i]['isok'] eq 1"><li><h3 class="question"><span class="icon-ques">Q</span><span>{$askinfos[$i]['a_content']}</span></h3><p class="answer"><span class="icon-ques icon-ans stard">A</span>{$askinfos[$i]['r_content']}</p><div class="author"><div class="leftPart"> <span>{$askinfos[$i]['mssid']}</span></div><div class="rightPart"> {:date('Y',$askinfos[$i]['atime'])}年{:date('m',$askinfos[$i]['atime'])}月{:date('d',$askinfos[$i]['atime'])}日 </div></div></li></if></for>')
        	})

	    //收藏
	        $('.like').click(function(){
	            var uid = '{$uid}';
	            if(!uid){
	                alert('请先登录');
	                return false;
	            }else{
	                var uid = '{$uid}';
	                var mssid = '{$mssid}';
	                var mgid = $(this).parent().find('.gid').text();
	                var title = $(this).parent().find('.title').text();
	                var colortit = $(this).parent().find('.corlortit').text();
	                var zhupic = $(this).parent().find('.zhupic').text();
	                var price = $(this).parent().find('.price').text();
	                var nowprice = $(this).parent().find('.nowprice').text();
	                var comment = $(this).parent().find('.comment').text();
	                var t = $(this);
	                $.get("{:U('Home/Like/check')}",{mgid:mgid,uid:uid},function(data){
	                    if(data==1){
	                        alert('您已经收藏过此商品');
	                    }else if(data==0){
	                        $.get("{:U('Home/Like/insert')}",{uid:uid,mssid:mssid,mgid:mgid,title:title,zhupic:zhupic,colortit:colortit,price:price,nowprice:nowprice,comment:comment},function(){
	                            t.removeClass('btn-dake').addClass('btn-yellow');
	                            setTimeout(function(){
	                                t.removeClass('btn-yellow').addClass('btn-dake');
	                            },3000)
	                        })
	                    }
	                })
	                return false;
	            }
	        })

		//缩放ajax函数
			function suofang(w,h,src,element){
				$(function(){
					$.get("{:U('Home/Detail/suofang')}",{wsize:w,hsize:h,src:src},function(data){
						if(data[0]==430&&data[1]==430){
							return;
						}else{
							$(element).css({position:'absolute',left:'50%',top:'40%',marginLeft:'-'+data[0]/2+'px',marginTop:'-'+data[1]/2+'px',width:data[0],height:data[1]});
						}
						
					})
				})
			}
		
	</script> 
	<!-- JS详情代码区结束 --> 
</block>