<extend name="add" />
<block name="title">

</block>
<block name="con">
	<div class="mws-panel grid_8">
    	<div class="mws-panel-header">
        	<span>管理员添加</span>
        </div>
        <div class="mws-panel-body no-padding">
        	<form class="mws-form" action="{:U('Admin/Admin/update')}" method="post">
        		<div class="mws-form-inline">
        			<div class="mws-form-row">
        				<label class="mws-form-label">管理员ID</label>
        				<div class="mws-form-item">
        					{$info['id']}
        				</div>
        			</div>
        			<div class="mws-form-row">
        				<label class="mws-form-label">员工编号</label>
        				<div class="mws-form-item">
        					{$info['mid']}
        				</div>
        			</div>
        			<div class="mws-form-row">
        				<label class="mws-form-label">管理员名</label>
        				<div class="mws-form-item">
        					<input type="text" class="small" name="username" value="{$info['username']}">
        				</div>
        			</div>
        			<div class="mws-form-row">
        				<label class="mws-form-label">Dropdown List</label>
        				<div class="mws-form-item">
        					<select class="small" name="status">
        						<option value="1" <eq name="info['status']" value="1">selected="selected"</eq>>正常</option>
        						<option value="0" <eq name="info['status']" value="0">selected="selected"</eq>>禁用</option>
        					</select>
        				</div>
        			</div>
        		</div>
        		<div class="mws-button-row">
        			<input type="hidden" name="id" value="{$info['id']}">
        			<input type="submit" value="修改" class="btn btn-danger">
        			<input type="reset" value="重置" class="btn ">
        		</div>
        	</form>
        </div>    	
    </div>
</block>