<extend name="add" />
<block name="title">
    <title>管理员列表</title>
</block>
<block name="con">
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span><i class="icon-table"></i>管理员列表</span>
        </div>
        <div class="mws-panel-body no-padding">
            <div role="grid" class="dataTables_wrapper" id="DataTables_Table_1_wrapper">
                <form action="{:U('Admin/Admin/index')}" method="get">
                <div id="DataTables_Table_1_length" class="dataTables_length">
                    <label>显示 
                    <select name="num" size="1" aria-controls="DataTables_Table_1">
                        <option value="10" <eq name="num" value="10">selected="selected"</eq>>10</option>
                        <option value="25" <eq name="num" value="25">selected="selected"</eq>>25</option>
                        <option value="50" <eq name="num" value="50">selected="selected"</eq>>50</option>
                        <option value="100" <eq name="num" value="100">selected="selected"</eq>>100</option>
                    </select>
                    条</label>
                </div>
                <div class="dataTables_filter" id="DataTables_Table_1_filter">
                    <label>搜索: <input type="text" aria-controls="DataTables_Table_1" name="keywords" value="{$keywords}"><button class="btn btn-inverse" type="submit">提交</button></label>
                </div>
                
                </form>
                <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
                    <thead>
                        <tr role="row">
                        <th style="width: 100px;">管理员ID</th>
                        <th style="width: 150px;">管理员名</th>
                        <th style="width: 150px;">员工编号</th>
                        <th style="width: 121px;">管理员状态</th>
                        <th style="width: 150px;">添加时间</th>
                        <th style="width: 135px;">操作</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <foreach name="admins" item="vo" >
                        <tr class="<if condition="$key%2 eq 1 ">odd<else />even</if>">
                            <td class="  sorting_1">{$vo['id']}</td>
                            <td class=" ">{$vo['username']}</td>
                            <td class=" ">{$vo['mid']}</td>
                            <td class=" ">{$vo['status'] ? '正常' : '禁用'}</td>
                            <td class=" ">{:date('Y-m-d H:i:s',$vo['rtime'])}</td>
                            <td class=" ">
                                <a class="btn btn-small" href="{:U('Admin/Admin/edit',array('id'=>$vo['id']))}"><i class="icon-pencil"></i></a>
                                <a class="btn btn-small" href="{:U('Admin/Admin/delete',array('id'=>$vo['id']))}"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        </foreach>

                    </tbody>
                </table>
                <div class="dataTables_info" id="DataTables_Table_1_info">显示<if condition="$start lt $count ">{$start}到<if condition="$end lt $count ">{$end}<else />{$count}</if>条    共有{$count}条</div>
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_1_paginate">
                    <div id="show">
                        {$show}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
    td,th{text-align:center;}
    #show a{ 
            background-color: #444444;
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            border-right: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
            color: #fff;
            cursor: pointer;
            display: block;
            float: left;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            outline: medium none;
            padding: 0 10px;
            text-align: center;
            text-decoration: none;
        }
    #show span{
            background-color: #88a9eb;
            background-image: none;
            border: medium none;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset;
            color: #323232;
            cursor: pointer;
            display: block;
            float: left;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            outline: medium none;
            padding: 0 10px;
            text-align: center;
            text-decoration: none;
        }
    </style>
</block>